@use 'variables' as *;

// carousel / swiper / wrapper rules


// .speakers .swiper-wrapper {
//     position: relative;
//     width: 100vw;
//     display: flex;z
// }
//
//
// .speakers .title-container {
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     justify-content: space-between;
//     padding-bottom: 10px
// }
//
// .speakers .swiper-wrapper {
//     position: relative;
//     width: 100vw;
//     display: flex;
// }
//
// .speakers .swiper-wrapper .swiper-slide {
//     width: 400px
// }
//
// .speakers .swiper-wrapper .swiper-slide .speaker-name {
//     -webkit-box-align: end;
//     -ms-flex-align: end;
//     align-items: end;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     font-size: 20px;
//     font-weight: 600;
//     padding-left: 25px;
//     text-transform: uppercase;
//     bottom: 15%
// }
//
// .speakers .swiper-wrapper .swiper-slide .speaker-position {
//     font-size: 14px;
//     font-weight: 300;
//     top: 20%
// }

.explore-the-facilities-row .swiper-wrapper,
.explore-the-city-row .swiper-wrapper,
.party-row .swiper-wrapper {
  position: relative;
  width: 100%;

  .swiper-slide {
    width: 380px;

    p {
      display: inline-block;
    }

    img {
      -o-object-fit: fill;
      object-fit: fill;
      width: 380px;
      height: 250px;
      pointer-events: none;
    }
  }
}

// .speakers .title-container {
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     justify-content: space-between;
//     padding-bottom: 10px
// }
//
// .speakers .title-container .swiper-buttons {
//     position: relative;
//     width: 100px
// }
//
// .speakers .title-container .swiper-buttons .swiper-button-next {
//     float: right;
//     position: relative
// }
//
// .speakers .title-container .swiper-buttons .swiper-button-prev {
//     float: left;
//     position: relative
// }
//
// .speakers .swiper {
//     overflow: visible
// }
//
// .swiper-slide,
// .swiper-slide {
//     flex-shrink: 0;
//     width: 100%;
//     position: relative;
//     transition-property: transform;
//     display: block;
// }
//
// .speakers .swiper-wrapper .swiper-slide {
//     width: 400px
// }
//
// .speakers .swiper-wrapper .swiper-slide p {
//     border-radius: 24px;
//     display: inline-block;
//     -webkit-transition: all .1s ease-in-out;
//     transition: all .1s ease-in-out
// }
//
// .speakers .swiper-wrapper .swiper-slide p:hover {
//     -webkit-box-shadow: 0 0 10px 0 var(--dark-brown);
//     box-shadow: 0 0 10px 0 var(--dark-brown);
//     -webkit-transition: all .1s ease-in-out;
//     transition: all .1s ease-in-out;
//     z-index: 2;
// }
//
// .speakers .swiper-wrapper .swiper-slide b,
// .speakers .swiper-wrapper .swiper-slide strong {
//     color: white;
//     left: 10%;
//     position: absolute;
// }
//
// .speakers .swiper-wrapper .swiper-slide img {
//     border-radius: 25px;
//     bottom: inherit;
//     float: right;
//     height: 400px;
//     -o-object-fit: contain;
//     object-fit: cover;
//     pointer-events: none;
//     width: 360px
// }
//
// .speakers .swiper-wrapper .swiper-slide::before {
//     content: '';
//     position: absolute;
//     left: 0;
//     height: 400px;
//     background: linear-gradient(to top, rgba(134, 59, 53, 0.7), rgba(255, 255, 255, 0) 100%);
//     width: 360px;
//     border-radius: 25px;
// }

// venue carousel
.image-row {
  display: flex;
  justify-content: space-between;

  div {
    width: 45%;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-md);
  }
}

.carousel-container {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;

  i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: white;
    border-radius: var(--radius-circle);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;

    &:active {
      transform: translateY(-50%) scale(0.85);
    }

    &:first-child {
      left: -80px;

      // Add a pseudo-element for the first arrow
      &::before {
        content: '<'; // Content for the arrow
        font-weight: bold;
        font-family: 'Tilt Neon', sans-serif !important;
        font-style: normal;
        font-size: 1.5rem;
        color: var(--accent);
      }
    }

    &:last-child {
      right: -80px;

      // Add a pseudo-element for the second arrow
      &::before {
        content: '>'; // Content for the arrow
        font-weight: bold;
        font-family: 'Tilt Neon', sans-serif !important;
        font-style: normal;
        font-size: 1.5rem;
        color: var(--accent);
      }
    }
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: var(--radius-sm);
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
}

.carousel {
  &::-webkit-scrollbar {
    display: none;
  }

  &.no-transition {
    scroll-behavior: auto;
  }

  &.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;

    .card {
      cursor: grab;
      user-select: none;
    }
  }

  .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #ede1e0;
    border-width: 5px;
    border-color: var(--accent);
    cursor: pointer;
    flex-direction: column;
    border-radius: var(--radius-sm);
    display: flex; // Add this property to make the card a flex container
    align-items: center; // Center the content horizontally
    padding: 1.5rem;

    h2 {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0; // Remove margin to place the h2 at the top
      color: var(--accent);
      justify-self: center; // Center the h2 within the card
      padding-bottom: 1.5rem;
    }

    span {
      color: #6a6d78;
      font-size: 1.31rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.card a {
  color: var(--accent) !important;
  font-weight: bold;
  text-decoration: none;
}

// speaker home css
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 var(--overlay-medium);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  margin: 20px;

  &:hover {
    box-shadow: 0 8px 16px 0 var(--overlay-medium);
  }
}

.speaker {
  width: 130px;
  height: 130px;
  border-radius: var(--radius-circle);
  object-fit: cover;
}

.speaker-name {
  margin-top: 10px;
  font-weight: bold;
  color: var(--surface-hover);
}

.speaker-logo {
  width: 30%;
  height: 30%;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .speaker-logo {
    width: 50%; // Increase width
    height: 50%; // Increase height
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
// speaker home end

// icon size on speaker
.iconlogo {
  width: 10%; // Adjust as needed
}

#home-images-carousel {
  .carousel-indicators {
    .indicator {
      width: 15px;
      height: 15px;
      background-color: transparent;
      border-radius: var(--radius-circle);
      border: 1px solid var(--accent);
      opacity: 1;

      &.active {
        background-color: var(--accent);
      }
    }
  }
}
