{% load static %}

<div class="container creditsmain">
  <h1 class="mainname">CREDITS</h1>
  <p style="font: 1.125rem/1.5rem var(--main-font)">
    This list of individuals is still growing. Nonetheless, these are our
    sincerest alphabetical thanks to everyone who have made contributions to
    this conference thus far:
  </p>

  <div class="row pt-3">
    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/coc.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">CODE OF CONDUCTS</h4>
     <h6 style="color: #bda712; font-weight: bold;">Vicky Twomey-Lee</h6>
     <h6>Sunday Iyanu Ajayi</h6>
     <h6>Thibaud Colas </h6>
    </div>

    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/speaker.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">COMMUNICATIONS</h4>
      <h6 style="color: #36bc5b; font-weight: bold">Bia Rodrigues</h6>
      <h6>Julius Boakye</h6>
      <h6>Steve Yonkeu</h6>
      <h6>Viola Bergere </h6>
      <h6>Charles Bartels Squire</h6>
    </div>

    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/diverse.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">DIVERSITY & INCLUSION</h4>
      <h6 style="color: #005e83; font-weight: bold;">Kelvin Adigwu</h6>
      <h6>Julius Boakye</h6>
      <h6>Robson Kanhalelo </h6>
      <h6>Sarah Abderemane</h6>
      <h6>Eliana Rosselli</h6>
    </div>

    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/girls.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">DJANGO GIRLS</h4>
        <h6 style="color: #af0161; font-weight: bold;">Vicky Twomey-Lee</h6>
        <h6>Andrea Fagan</h6>
        <h6>Evans Langat</h6>  
        <h6>Lais Carvalho</h6> 
        <h6>Marjia Siddik</h6> 
        <h6>Michael Twomey</h6> 
        <h6>Vishal Vatsa</h6> 
    </div>
  </div>

  <!-- SECOND ROW  -->
  <div class="row pt-5">
    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/programme.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">PROGRAMME</h4>
      <h6 style="color: #36bc5b; font-weight: bold">Mariusz Felisiak</h6>
      <h6> Daniele Procida</h6>
      <h6> Michael Loukeris</h6> 
      <h6> Hassan Bahati</h6> 
      <h6> Kátia Nakamura</h6> 
      <h6> Nana Adjoa Anim </h6> 
      <h6> Steve Yonkeu </h6> 
      <h6> Çağıl Sönmez  </h6> 
      <h6> Robson Kanhalelo</h6> 
      <h6> Kelvin Adigwu</h6> 
      

    </div>

    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/sponsors.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">SPONSORS</h4>
      <h6 style="color: #36bc5b; font-weight: bold">Luis Vaz</h6>
       <h6>Mebarek Saf</h6> 
    </div>

    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/local.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">LOCAL</h4>
      <h6 style="color: #36bc5b; font-weight: bold">Miguel Magalhaes</h6>
      <h6>Afonso Santos</h6>
      <h6>Daniel Darko</h6>
      <h6>Daniel Rios</h6>
      <h6>David Vaz</h6>
      <h6>Frederico Rodrigues</h6>
      <h6>Lais Carvalho</h6>
      <h6>Luís Vaz</h6>
      <h6>Panagiotis Kyrillos</h6>
      <h6>Viola</h6>
      <h6>Vicky Twomey-Lee</h6>
      <h6>Yoni Lavi</h6>
    </div>

    <div class="col-sm-3">
      <img
        src="{% static 'images/credit_logo/core.svg' %}"
        class="creditlogo"
        alt="EPS Logo"
      />
      <h4 class="headtext">CORE</h4>
      <h6 style="color: #36bc5b; font-weight: bold">David Vaz</h6>
      <h6 style="color: #36bc5b; font-weight: bold">Frederico Rodrigues</h6>
      <h6 style="color: #36bc5b; font-weight: bold">Miguel Magalhães</h6>
      <h6>Felipe Valverde</h6>
      <h6>Gonçalo Sousa</h6>

    </div>
  </div>
</div>
