{% load static %}
<div class="container-fluid latest-news-page">
  <div class="container">
    <div class="latest_news_content">
      <div class="news_item">
        <div class="news-container">
          <div class="left-side">
            <div class="title-container">
              {% comment %} <img
                src="{% static 'images/other/latest-news.png' %}"
                class="news_logo img-fluid"
                alt="latest news"
              /> {% endcomment %}
              <h1 class="news-title">Latest News</h1>
            </div>
            <p class="news-description">
              <a
                href="/information/grants/"
                style="text-decoration: none; color: #97eb61"
                >
                Thank you to everyone who applied for grants to attend DjangoCon Europe 2025! 🎉 
                Applications are now closed. Stay tuned for updates regarding the outcomes. 
                We can't wait to see you in Dublin! 🌟
              </a>
              <br>
              <!-- <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScKldrk0umXZUR2z5XB-xKU3cOk4Z4nCIYrutOxPH1Tv590_Q/viewform?usp=dialog" class="hero-btn" style="text-decoration:none; color: white;">Apply here</a> -->
              <br>
            </p>
            <small class="published py-5" style="color: #efedd0; margin-top: 10px"
              >Published: 20th January. 2025</small
            >
            <em><h6 class="news-subtitle">Stay up to date with the latest news</h6></em>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
