{% load static %}
<div class="container-fluid latest-news-page">
  <div class="container">
    <div class="latest_news_content">
      <div class="news_item">
        <div class="news-container">
          <div class="left-side">
            <div class="title-container">
              <h1 class="news-title">Latest News</h1>
            </div>
            {# Placeholder announcement until the 2027 cycle has real news. #}
            <p class="news-description">
              Planning for DjangoCon Europe 2027 in Innsbruck is under way.
              Announcements about the call for participation, grants and
              tickets will be posted here.
            </p>
            <em><h6 class="news-subtitle">Stay up to date with the latest news</h6></em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
