{% load static %}
<div class="about-container">
  <div class="left-box">
    <h2 class="left-text">RUN BY THE<br />COMMUNITY FOR<br />THE COMMUNITY</h2>
  </div>
  <div class="divider"></div>
  <div class="right-box">
    <p>
      This is the 17th edition of the Conference and it is organized by a team
      made up of Django practitioners from all levels. We welcome people from
      all over the world.
    </p>
    <p>
      Our conference seeks to educate and develop new skills, best practices,
      and ideas for the benefit of attendees, developers, speakers, and everyone
      in our global Django Community, not least those watching the talks online.
    </p>
    <p>
      This year it will take place in the beautiful city of Dublin. Don't miss
      the chance to join us for five days of talks, workshops, and sprints.
    </p>
  </div>
</div>
