{% load static %}

<!-- HTML -->
<div class="past-editions">
  <h2 class="editions-title">TAKE A LOOK AT PAST EDITIONS</h2>
  <div class="editions-grid">
    <div class="grid-item">
      <img src="{% static 'images/past/djc1.png' %}"
           alt="DjangoCon Europe 2023 Edinburgh group photo" />
    </div>
    <div class="grid-item">
      <img src="{% static 'images/past/vigo.png' %}"
           alt="DjangoCon Europe 2024 Vigo group photo at the harbor" />
    </div>
    <div class="grid-item">
      <img src="{% static 'images/past/dublin.png' %}"
           alt="DjangoCon Europe 2025 Dublin audience" />
    </div>
    <div class="grid-item">
      <img src="{% static 'images/past/hall.png' %}"
           alt="DjangoCon Europe group photo in the conference hall" />
    </div>
  </div>
</div>
