{%load static%}

<div class="container">
  <h1 class="glow-text">Party</h1>
<br>

<h4 class="">Let's Go Have some Fun 🎉</h4>
<img
  class="GFG"
  src="/static/images/other/DSC03532.jpg"
  alt="Social Party"
  style="
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    box-shadow:
      rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  "
/>
<p style="font-family: roboto">
  <em>Photo Source: <a href="https://www.thecamden.ie/" class="pages-links">Camden</a></em>
</p>

<h5 class="pt-3">
  <strong>
    Don't miss out the one and only Platform Glow Party on DjangoCon Europe 2025
  </strong>

  <h6>Location: <strong><a href="https://g.co/kgs/GpkuR5K" class="pages-links" target="_blank">The Camden, 84, Camden Street Lower, Saint Kevin's, Dublin 2, D02 DH36</a></strong></h6>
  <h6>Date:<strong> April 25</strong></h6>
  <h6>Time:<strong> 8:30 PM</strong></h6>
  <h6>Requirements:<strong> Conference badge</strong></h6>
  <h6>Cost:<strong> Free entry + 1 free drink token per person</strong></h6>

</h5>
</div>
