{%load static%}

<div class="container">
  <h1 class="glow-text">Party</h1>
<br>

<h4 class="">Let's Go Have some Fun 🎉</h4>

<h5 class="pt-3">
  <strong>
    Don't miss out the one and only Platform Glow Party on DjangoCon Europe 2027
  </strong>

  <h6>Location: <strong>Innsbruck — venue to be announced</strong></h6>
  <h6>Date:<strong> To be announced</strong></h6>
  <h6>Time:<strong> To be announced</strong></h6>
  <h6>Requirements:<strong> Conference badge</strong></h6>
  <h6>Cost:<strong> Free entry + 1 free drink token per person</strong></h6>

</h5>
</div>
