{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container-fluid sponsors py-5">
    <div class="container">
      <div class="title-container_sponsor">
        <h2 class="cfp-title">{{ content.meta.title.0|title }}</h2>
        {{ content.html|safe }}
      </div>
      <div class="py-5">
        <div class="sponsors-grid p-0">
          {% for category, sponsors_list in sponsors.items %}
            <p class="sponsors-categories">{{ category }}</p>
            <div class="sponsor-row">
              {% for sponsor in sponsors_list %}
                <a href="{{ sponsor.url }}"
                   target="_blank"
                   rel="noopener"
                   class="sponsor-logo">
                  <img src="{% static sponsor.logo %}"
                       alt="{{ sponsor.name }}"
                       {% if sponsor.filter %}style="filter: brightness(0) invert(1)"{% endif %} />
                </a>
              {% endfor %}
            </div>
            <hr />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
