{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container-fluid sponsors py-5">
    <div class="container">
      <div class="title-container_sponsor">
        <!-- sponsor texts -->
        <h1 class="cfp-title">Sponsors</h1>
        <p style="font-size: 18px">
          <span style="font-weight: bold">Your logo can be here!</span> Discover
          the available sponsorship opportunities here.
        </p>
      </div>

      <div style="padding: 40px 0">
        <div class="sponsors-grid" style="padding: 0">
          {% for category, sponsors_list in sponsors.items %}
            <p class="sponsors-categories">{{ category }}</p>
            <div class="sponsor-row">
              {% for sponsor in sponsors_list %}
                <a href="{{ sponsor.url }}" target="_blank" class="sponsor-logo">
                  <img src="{% static sponsor.logo %}" alt="{{ sponsor.name }}"
                       {% if sponsor.filter %}style="filter: brightness(0) invert(1)" {% endif %}>
                </a>
              {% endfor %}
            </div>
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
