{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}
{% block content %}

  <!-- Main Section -->
<div class="hero-section">
    <div style="position: absolute;z-index: -99;width: 50%;height: 100%">
  <iframe frameborder="0" height="100%" width="100%" allow="autoplay" src="https://www.youtube.com/embed/77pJnXemL8k?autoplay=1&amp;mute=1&amp;controls=0&amp;loop=1&amp;playlist=77pJnXemL8k" style="
    padding-block: 254px;
    margin-top: 12px;
">
  </iframe>
</div>
    <div class="hero-container">
      <div class="hero-content" style="
">
        <h1 style="padding-top:0">Five days of talks,<br>sprints, and tutorials<br>in Dublin</h1>
        <span class="hero-date" style="
    float: left;
    margin-right: 20px;
">23rd-27th April 2025</span>
        <a href="https://pretix.evolutio.pt/evolutio/djceu2025/" class="hero-btn" style="text-decoration:none;margin-top: -30px;">Grab your t-shirt</a>
      </div>
    </div>
    <div class="hero-image" style="margin-top: 20px;">
      <img src="{% static 'images/other/building_dublin.png' %}"
           alt="Dublin city skyline">
    </div>
  </div>
  <div class="hero-image-mobile w-100" style="margin-top: 20px;">
    <img src="{% static 'images/other/building_dublin.png' %}"
         alt="Dublin city skyline">
  </div>


  <div class="overlay" id="overlay"></div>

  <div class="popup" id="popup">
    <button class="close-btn" onclick="closePopup()">&times;</button>
    <h2 style="color:#EFEDD0; font-weight:bold">Want a free ticket?</h2>

    {% comment %} <p>Join as a Volunteer:</p>
    <a href="https://forms.gle/xmwxssiheMa1oCvPA" class="apply-btn"
       style="text-decoration:none;">
      <button>Help Us</button>
    </a> {% endcomment %}

    <p>Submit a talk or workshop:</p>
    <a href="https://2025.djangocon.eu/talks/cfp/" class="apply-btn"
       style="text-decoration:none;">
      <button>Contribute</button>
    </a>

    <p>Apply for an Opportunity Grant:</p>
    <a href="https://2025.djangocon.eu/information/grants/" class="apply-btn"
       style="text-decoration:none;">
      <button>Apply for Grant</button>
    </a>

    <p>Or get discounted ticket:</p>
    <a href="https://pretix.evolutio.pt/evolutio/djceu2025/" class="apply-btn"
       style="text-decoration:none;">
      <button>tickets</button>
    </a>
  </div>



  {% comment %} <div class="homepage-container">
  <!-- Animated Title -->
  <div class="countdown-container text-center">
    <h1 id="dates_title" class="animated-title"></h1>
  </div>





</div> {% endcomment %}





  {# HOME-ABOUT #}
  {% include 'modules/default.html' with content=files.about|markdown %}






  {# HOME-SPEAKERS #}
 {% include 'modules/default.html' with content=files.speakers|markdown %}



  {# TICKETS #}
  {% include 'modules/default.html' with content=files.tickets|markdown %}

  {# IMPORTANT DATES #}
  {% include 'modules/default.html' with content=files.dates|markdown %}


  {# Past Edition #}
  {% include 'modules/default.html' with content=files.past_edition|markdown %}


  {# HOME-SPONSORS #}
  {% include 'modules/default.html' with content=files.sponsors|markdown %}


{# LATEST NEWS #}
{% include 'modules/default.html' with content=files.latest_news|markdown %}

{# ABOUT#}
{# {% include 'templates/default.html' with content=files.0 %}#}


{# LATEST-NEWS#}
{# {% include 'modules/home/news.html' %}#}


{# PORTO-INFO#}
{% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

  {# SPONSORS#}
  {# {% include 'modules/default.html' with content=files.2 %}#}

  {# MAILING-LIST#}
  {# {% include 'modules/home/mailing.html' %}#}



{% endblock content %}
